body{
    margin: auto;
    background-color:rgb(14, 12, 6);
}


.signIn{
    background-color:rgb(255, 255, 255);
    width: 460px;
    height: 250px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:auto;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 5px 10px rgb(10, 8, 1);
}
#logo{
    position: relative;
    top:5px;
    left:16px;
    border-radius: 20px;
    
}

.formSignIn{
    margin: 5%;
    

}
.textField{
    width: 200px;
    height: 25px;
    margin:8px;
    margin-top:-5px;
    margin-left: 30%;
    border:none;
    border-bottom:1px solid rgb(240, 164, 0);
    transition: 0.3s;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.textField:focus{
    outline-color: rgb(240, 164, 0);
    
}
.textField::selection{
    border:none;
    border-bottom:2px solid rgb(240, 164, 0);
}
#signInButton{
    width:100px;
    height: 30px;
    margin-top: 9px;
    margin-left: 126px;
    border-radius: 10px;
    background-color:rgb(240, 164, 0);
    border:1px solid white;
    color:white;
    transition: all .3s ease;
}
#signInButton:hover{
    outline-color: teal;
    
  border-color:teal;
}

